{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="wrapper-horoscope-weekly" style="display: none">
  {%
  set item_period = rows[0].content['#row']._entity.horoscopes_period ? rows[0].content['#row']._entity.horoscopes_period.value : rows[0].content['#row']._entity.field_horoscope_period.value
  %}
            {% if item_period == 'week' %}
                <h2>{{ "now"|date("W") }}. týden {{ "now"|date("Y") }}</h2>
            {% elseif item_period == 'month' %}
                <h2>{{ horoscope_month_text }}</h2>
            {% endif %}
{% for row in rows %}
  {%
    set row_classes = [
  row.content['#row']._entity.field_horoscope_sign ? row.content['#row']._entity.field_horoscope_sign.value : 'views-row-week',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}
</div>
